/* CSS for the ATCA Maintenance Whiteboard page. */

/* Use the Google web font Roboto Condensed. */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
* { font-family: "Roboto Condensed" }

h1 { font-size: 2em; text-align: center; }
h2 { font-size: 1.6em; text-align: center; }

table { width: 100%; border-collapse: collapse; border: 2px solid black; }
