/* CSS for the ATCA Maintenance Whiteboard page. */

/* Use the Google web font Roboto Condensed. */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
* { font-family: "Roboto Condensed" }

body { padding: 1em; }

h1 { font-size: 2em; text-align: center; }
h2 { font-size: 1.6em; text-align: center; }

#table-holder { position: relative; width: 100%; }
#under-table, #over-table { position: absolute; top: 0; left: 0; width: 100%; }
#over-table { z-index: 100; opacity: 0%; }

th, td {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
table { width: 100%; border-collapse: collapse; border: 2px solid black; 
	margin-top: 2em; }
thead th { text-align: left; background: black; color: white; padding: 0.3em 0;
	   border-left: 2px solid white; }
thead td { background: white; color: white; border: 2px solid black; }
tbody th { background: blue; color: yellow; border-right: 2px solid black;
	   border-top: 2px solid black; padding: 0.3em 0; }
tbody td { border: 1px dotted #444; }
tbody td.breaktime { background: repeating-linear-gradient(-55deg, #0c6, #0c6 10px, #0e6 10px, #0e6 20px); }

tbody td.highlighted { background: pink; opacity: 75%; }
